@model IEnumerable<ClientIM.Models.Picture>

@{
    int id = Int32.Parse(Session["person_id"].ToString());
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.first_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.Profile.privacy_flag != "On" || item.person_id == id)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.caption)
                </td>
                <td>
                    <img style="width:75px; height:75px" src="@Url.Content("~/Images/" + item.path)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time_info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loc_info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.first_name)
                </td>
                <td>
                    @Html.ActionLink("Like", "Edit", new { id = item.picture_id }) |
                    @Html.ActionLink("Comment", "Index", "Comment", new { id = item.picture_id }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.picture_id })
                </td>
            </tr>
        }

    }

</table>
