@model IEnumerable<ClientIM.Models.Contact>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.first_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contact_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.contact_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contact_id })
        </td>
    </tr>
}

</table>
