@model IEnumerable<ClientIM.Models.Comment>

@{ 
    int id = Int32.Parse(Session["person_id"].ToString());

    ClientIM.Models.ClientEntities db = new ClientIM.Models.ClientEntities();
}

<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profile.first_name)
            @Html.DisplayFor(modelItem => item.Profile.last_name) |
            @Html.DisplayFor(modelItem => item.read) |
            @Html.DisplayFor(modelItem => item.timestamp) :
            @Html.DisplayFor(modelItem => item.comment1)

        </td>
        <td>
            @if (db.Comment_like.SingleOrDefault(c => c.person_id == id && c.comment_id == item.comment_id) == null)
            {
                @Html.ActionLink("Like", "LikeComment", "Comment", new { id = item.comment_id }, null)
            }
            else
            {
                @Html.ActionLink("Unlike", "UnlikeComment", "Comment", new { id = item.comment_id }, null)
            }
        </td>
        @if (item.person_id == Int32.Parse(Session["person_id"].ToString()))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.comment_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.comment_id })
            </td>
        }

    </tr>
}

</table>
